@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

body {
  --default-font-famliy: VT323;
  --default-color: black;
  --default-backround-color: white;

  color: var(--default-color);
  background-color: var(--default-background-color);
}

body.dark {
  --default-color: #00BD03;
  --default-background-color: black;
}

hr {
  height: 0px;
  border-top: 1px solid var(--default-color);
  border-bottom: none;
  color: var(--default-color);
  margin-bottom: 16px;
}

button {
  border: 1px solid var(--default-color);
  background-color: var(--default-background-color);
  font-family: var(--default-font-family);
  color: var(--default-color);

  font-size: 1rem;
  cursor: pointer;
}

input,
textarea,
select {
  color: var(--default-color);
  background-color: var(--default-background-color);
  border: 1px solid var(--default-color);
  padding: 4px;

  caret-color: var(--default-color);
  border-radius: 4px;
}

textarea {
  resize: none;
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible,
select:focus,
select:focus-visible {
  outline: 2px solid var(--default-color);
}

h1 {
  font-size: 2.5rem;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.icon-button {
  border: none;
  padding: 2px;
}